@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.h-100{
    height: 100vh !important;
}

.icone{
    height: 50px;
    width: 50px;
    background: #457fca;  
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  
    background: linear-gradient(to right, #5691c8, #457fca);

}

.citacao{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'Indie Flower', cursive;
    background: url('https://picsum.photos/1280/720?grayscale&blur=2') center no-repeat, linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background-blend-mode: multiply; 
}

.frase{
    font-size: 1.5rem;
}

.autor{
    font-size: 1.5rem;
    font-weight: bold;
}